{% set gallery = [
    {
      small_img: "img/gallery-1.png",
      img: "img/gallery-1.png",
      data_caption: "Caption #1"
    },
    {
      small_img: "img/gallery-2.png",
      img: "img/gallery-2.png",
      data_caption: "Caption #2"
    },
    {
      small_img: "img/gallery-3.png",
      img: "img/gallery-3.png",
      data_caption: "Caption #3"
    },
    {
      small_img: "img/gallery-4.png",
      img: "img/gallery-4.png",
      data_caption: "Caption #4"
    },
    {
      small_img: "img/gallery-5.png",
      img: "img/gallery-5.png",
      data_caption: "Caption #5"
    },
    {
      small_img: "img/gallery-1.png",
      img: "img/gallery-1.png",
      data_caption: "Caption #1"
    },
    {
      small_img: "img/gallery-2.png",
      img: "img/gallery-2.png",
      data_caption: "Caption #2"
    },
    {
      small_img: "img/gallery-3.png",
      img: "img/gallery-3.png",
      data_caption: "Caption #3"
    }
  ]
%}

{%
  set categories = [
    {
      link: "#",
      name: "Video",
      count: "3"
    },
    {
      link: "#",
      name: "Sports",
      count: "5"
    },
    {
      link: "#",
      name: "Media",
      count: "2"
    },
    {
      link: "#",
      name: "Entertainment",
      count: "7"
    },
    {
      link: "#",
      name: "Life",
      count: "4"
    },
    {
      link: "#",
      name: "Super Cool Stuff",
      count: "8"
    }
  ]
%}

<div class="aside">
  <div class="aside__item about-jetro">
      <a href="#" class="aside__title-link">
        <div class="title-small">
          <h3 class="title-small__title">About jetro</h3>
          <div class="title-small__head-line"></div>
        </div>
      </a>
    <div class="about-jetro__content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praese nt libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elemen tum imperdiet. Duis sagittis ipsum
    </div>
  </div>
  <div class="aside__item categories">
    <a href="#" class="aside__head-link">
      <div class="title-small">
        <h3 class="title-small__title">Categories</h3>
        <div class="title-small__head-line"></div>
      </div>
    </a>
    <div class="categories__list">
      {% for item in categories %}
        {% include "partials/_categories.html" %}
      {% endfor %}
    </div>
  </div>

  <div class="aside__item gallery">
    <a href="#" class="aside__head-link">
      <div class="title-small">
        <h3 class="title-small__title">Gallery</h3>
        <div class="title-small__head-line"></div>
      </div>
    </a>
    <div class="gallery__content">
      {% for item in gallery %}
        {% include "partials/_gallery.html" %}
      {% endfor %}
    </div>
  </div>
</div>