<div class="aside">
  <div class="aside__item about-jetro">
    <div class="aside__head">
      <h3 class="aside__title">About jetro</h3>
      <div class="aside__head-line"></div>
    </div>
    <div class="about-jetro__content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praese nt libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elemen tum imperdiet. Duis sagittis ipsum
    </div>
  </div>
  <div class="aside__item categories">
    <div class="aside__head">
      <h3 class="aside__title">Categories</h3>
      <div class="aside__head-line"></div>
    </div>
    <ul class="categories__list">
      <li class="categories__item">Video (3)</li>
      <li class="categories__item">Sports (5)</li>
      <li class="categories__item">Media (2)</li>
      <li class="categories__item">Entertainment (7)</li>
      <li class="categories__item">Life (4)</li>
      <li class="categories__item">Super Cool Stuff (8)</li>
    </ul>
  </div>
  <div class="aside__item gallery">
    <div class="aside__head">
      <h3 class="aside__title">Photo gallery</h3>
      <div class="aside__head-line"></div>
    </div>
    <div class="gallery__content">
      <div class="gallery__item"></div>
      <div class="gallery__item"></div>
      <div class="gallery__item"></div>
      <div class="gallery__item"></div>
      <div class="gallery__item"></div>
      <div class="gallery__item"></div>
      <div class="gallery__item"></div>
      <div class="gallery__item"></div>
    </div>
  </div>
</div>