{% set posts = [
    {
      icon: "icon-1",
      slider: "img/slider.jpg",
      postset: "true",
      title: "Top  WordPress  Themes  of  2012",

      descr1: "Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu.",

      descr2: "Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis  ..."
    },
    {
      icon: "icon-2",
      img: "img/picture.jpg",
      postset: "true",
      title: "Jesus  Typography  Wallpaper  Giveaway!",

      descr1: "Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu.",

      descr2: "Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis  ..."
    },
    {
      icon: "icon-3",
      video: "img/video.jpg",
      postset: "true",
      title: "Big  Buck  Bunny  Trailer",

      descr1: "Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu.",

      descr2: "Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis  ..."
    },
    {
      icon: "icon-4",
      quotes: "Write anything you want here in this quotable area. Something unique you want people to learn 
      about your website or some cool random fact. Its totally up to you. "
    },
    {
      icon: "icon-5",
      title: "Some  of  the  best  freebies  on  the  web",
      link_text: "www.bestpsdfreebies.com",
      link_site: "#",

      descr1: "Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei."
    }
  ] 
%}


<div class="main-content">
  <div class="posts">
    {% for post in posts %}
      {% include "partials/_post.html" %}
    {% endfor %}
  </div>

  {% include "partials/_paginator.html" %}
</div>