.main-header
  display: flex
  margin-bottom: 24px

  &__title
    width: 100%
    padding: 15px 20px
    background-color: $red
    +bebas
    color: white
    font-size: 30px
    line-height: 1
  &__decor
    flex-grow: 1
    min-height: 61px
    background-color: rgba(232, 96, 60, 0.5)