.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-icon-1 {
  width: 0.85em;
  height: 1em;
  fill: initial;
}
.icon-icon-2 {
  width: 0.88em;
  height: 1em;
  fill: initial;
}
.icon-icon-3 {
  width: 0.84em;
  height: 1em;
  fill: initial;
}
.icon-icon-4 {
  width: 1.18em;
  height: 1em;
  fill: initial;
}
.icon-icon-5 {
  width: 0.78em;
  height: 1em;
  fill: initial;
}
